---
title: November 2019 Meetup
published: false
venue:
  name: Starbucks
  location: 820 N Milwaukee Ave, Buffalo Grove, IL 60089
startDate: 2019-11-20T21:00:00.000Z
endDate: 2019-11-21T00:00:00.000Z
---

This is optional.

You can use markdown **here**.
