---
title: November 2019 Meetup
description: Sample meetup, give me more information here. Keep it under 160 characters. Will use page excerpt otherwise.
venue:
  name: Starbucks Buffalo Grove
  address: 820 N Milwaukee Ave, Buffalo Grove, IL 60089
startDate: 2019-11-20 19:00
endDate: 2019-11-20 21:00
---

This is optional.

You can use markdown **here**.
